* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1.5fr 1fr;
    min-height: 100vh;
}

.header {
    padding: 1rem;
}

.form-container {
    text-align: center;
}

.weather-data-container {
    display: flex;
    justify-content: space-evenly;
}

.weather-data-container > div {
    width: 33.33%;
}

.weather-animation-container > img {
    max-width: 70%;
    height: auto;
    display: block;
}

.weather-forecast-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-forecast-container > h3 {
    font-size: 1.3rem;
    margin: 0;
    padding-bottom: 10px;
}

.weather-forecast-container > div {
    border: 1px solid blue;
    display: flex;
    height: 80%;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.weather-forecast-container > div > div {
    border: 1px solid red;
    height: 200px;
    width: 200px;
}